{% extends 'bases/base.html' %}

{% load static %}

{% block 'content' %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">Features</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Features</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
            {% for item in choose %}
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h4 class="section-title">Why Choose Us!</h4>
                    <h1 class="display-5 mb-4">Why You Should Trust Us? Learn More About Us!</h1>
                    <p class="mb-4">{{ item.description}}</p>
                    
                    <div class="row g-4">
                        <div class="col-12">
                            {% for informations in info %}
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src=" {{ informations.image.url }}" alt="Icon">
                                <div class="ms-4">
                                    <h3> {{ informations.title }} </h3>
                                    <p class="mb-0">{{ informations.description }} </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            {% for item in about_full %}
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-img">
                        <img class="img-fluid" src=" {{ item.image1.url }} " alt=" ">
                        <img class="img-fluid" src=" {{ item.image2.url }}" alt=" ">
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Feature End -->
        

  {% endblock 'content' %}