{% extends 'bases/base.html' %}

{% load static %}

{% block 'content' %}



    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">Services</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Services</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Facts Start -->
    <div class="container-xxl py-5">
        <div class="container pt-5">
            <div class="row g-4">
                {% for item in info %} 
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src=" {{ item.image.url }} " alt="Icon">
                        </div>
                        <h3 class="mb-3"> {{ item.title }}</h3>
                        <p class="mb-0"> {{ item.description }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Our Services</h4>
                <h1 class="display-5 mb-4">We Focused On Modern Architecture And Interior Design</h1>
            </div>
            <div class="row g-4">
                {% for item in service %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{{ item.image.url }} " alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{{ item.logo.url }}  " alt="Icon">
                            <h3 class="mb-3">{{ item.title }} </h3>
                            <p class="mb-4">{{ item.description }} </p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Testimonial</h4>
                <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                {% for item in test %}
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src=' {{ item.images.url }} ' alt=''>">
                    <p class="fs-5"> {{ item.description }}</p>
                    <h3>{{ item.client_name }}</h3>
                    <span class="text-primary">{{ item.profession }}</span>
                </div>
                {% endfor %}
            </div>     
        </div>
    </div>
    <!-- Testimonial End -->
        

{% endblock 'content' %}