{% extends 'bases/base.html' %}

{% load static %}

{% block 'content' %}

    
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">Testimonial</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Testimonial</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Testimonial</h4>
                <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                {% for item in test %}
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src=' {{ item.images.url }} ' alt=''>">
                    <p class="fs-5"> {{ item.description }}</p>
                    <h3>{{ item.client_name }}</h3>
                    <span class="text-primary">{{ item.profession }}</span>
                </div>
                {% endfor %}
            </div>     
        </div>
    </div>
    <!-- Testimonial End -->
        
{% endblock 'content' %}